@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple CSS vars for light/dark tokens */
:root {
  --bg: 249 250 251;
  --fg: 13 18 22;
}
.dark {
  --bg: 13 18 22;
  --fg: 249 250 251;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

